---
interface Props {
  count: number;
}

const { count } = Astro.props;
---

<div
  id="indicators"
  class="absolute bottom-4 left-1/2 flex -translate-x-1/2 transform gap-2"
>
  {
    Array.from({ length: count }).map((_, index) => (
      <button
        class={`indicator h-2 w-2 rounded-full md:h-3 md:w-3 ${index === 0 ? 'bg-gray-800' : 'bg-gray-400'}`}
        data-slide-index={index}
        aria-label={`Go to slide ${index + 1}`}
      />
    ))
  }
</div>
